.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}
.title {
  font-weight: 600;
  font-size: larger;
}
.spacer {
  flex: 1 1 auto;
}

.profile {
  padding: 0 1rem;
  max-width: fit-content;
  min-width: fit-content;
}

.profile > strong {
  font-weight: 400;
  font-size: large;
}

.profile > p {
  font-weight: 300;
  font-size: small;
}