.spinner-loading {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1000;
}

.error-message {
  font-weight: 500;
  font-size: small;
  margin-top: 125px;
}

.toggle-report {
  transform: translate(-50%, -50%);
  left: 50%;
  margin-top: 0.5rem;
}
