@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d2d2d2;
}

mat-card {
  width: 550px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-top: 0.5rem;
  width: 100%; 
}

mat-card-title {
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

mat-button-toggle-group {
  width: 100%;
  margin-bottom: 1rem;
}

mat-button-toggle {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.spacer {
  flex: 1;
}

.actions-buttons {
    margin-top: 1rem;
}
